* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #264653;
}

h1 {
    padding: 16px 0px;
    margin-bottom: 16px;
    border-bottom: 2px dotted #f4a261;
}

.header {
    padding: 20px;
    border-bottom: 4px solid #f4a261;
}

.all-demo-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.single-demo-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    border: 4px solid #2a9d8f;
}

h3 {
    padding: 8px 0px;
    margin-bottom: 8px;
    border-bottom: 2px dotted #2a9d8f;
}

/* for all actual demos */

.single-demo-container > .demo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* for all divs in a demo */

.single-demo-container > .demo > div {
    flex-basis: 20px;
    border: 2px solid #2a9d8f;
    display: flex;
    padding: 12px;
}

/* "Flex Item Distribution" demo */

.flex-shorthand-distro > .demo > div {
    gap: 12px;
}

.flex-shorthand-distro > .demo > div > div {
    display: flex;
    flex: 1;
    border: 1px dotted #2a9d8f;
    justify-content: center;
    justify-content: ;
    align-items: center;
    padding: 12px;
}

.flex-shorthand-distro > .demo > div > .flex-two {
    flex: 2;
}

/* "Flex Direction" demo */

.flex-direction > .demo > div {
    gap: 12px;
}

.flex-direction > .demo > div > div {
    display: flex;
    flex: 1;
    border: 1px dotted #2a9d8f;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.flex-direction > .demo > .row-aligned {
    flex-direction: row;
}

.flex-direction > .demo > .column-aligned {
    flex-direction: column;
}

/* "Justify Content" demo */

.justify-content > .demo > div {
    flex-direction: column;
    gap: 12px;
}

.justify-content > .demo > div > div {
    display: flex;
    border: 1px solid #2a9d8f;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.justify-content > .demo > .row-aligned > div {
    flex-direction: row;
}

.justify-content > .demo > .column-aligned > div {
    flex-direction: column;
    height: 400px;
}

.justify-content > .demo > div > div > div {
    border: 1px dotted #2a9d8f;
    padding: 12px;
}

.justify-content > .demo > div > .center {
    justify-content: center;
}

.justify-content > .demo > div > .flex-start {
    justify-content: flex-start;
}

.justify-content > .demo > div > .flex-end {
    justify-content: flex-end;
}

.justify-content > .demo > div > .space-around {
    justify-content: space-around;
}

.justify-content > .demo > div > .space-between {
    justify-content: space-between;
}

.justify-content > .demo > div > .space-evenly {
    justify-content: space-evenly;
}