* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
}

/* 
    sub-containers should not have display: flex at least until I better
    understand how to new-line/break/whatever a flex item reliably. By
    doing this, the element reverts back to border-box rules where most
    elements automatically place themselves onto a new line... forgot
    what the formal term for that is (block vs inline item?).
*/
.sub-container {
    width: 400px;
    border: 1px solid red;
}

.header {
    text-align: center;
}

.header-item {
}

.header-item.buffer {
    height: 20px;
}

.index-divider-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.index-divider-container-item {
    flex: 1;
    text-align: left;
}

.index-divider-container-item-A {
    display: flex;
    justify-content: right;
    align-items: start;
}

.index-divider-container-item-spacer {
    width: 40px;
    flex: initial;
}

.flex-all-equal-item.title {
    flex: 1;
    justify-content: center;
}

.flex-all-equal-item {
    display: flex;
    border: 1px solid black;
}