* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    padding: 20px;
    width: 400px;
}

.header-item {
    
}

.header-item.buffer {
    height: 20px;
}