* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    background-color: teal;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.nav-bar-buttons {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.login-group {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.logo-heading-bar-thang {
    display: flex;
    background-color: lightblue;
    padding: 70px 0px;
    justify-content: center;
}

.logo-heading-bar-thang-guts {
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
}