* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    padding: 20px;
    border-bottom: 6px solid black;
}

.demo-group-of-groups {
    display: flex;
    padding: 40px;
    gap: 40px;
    flex-direction: column;
}

.demo-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.demo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.demo > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* .space-distributed-outside-items */

.space-distributed-outside-items .navbar {
    border: 2px solid black;
    padding: 2px;
    display: flex;
    gap: 6px;
}

.space-distributed-outside-items .navbar > div {
    border: 1px solid grey;
    padding: 2px 12px;
}

/* .space-distributed-outside-items .space-between */

.space-distributed-outside-items .space-between .navbar {
    justify-content: space-between;
}

/* .space-distributed-outside-items .space-around */

.space-distributed-outside-items .space-around .navbar {
    justify-content: space-around;
}

/* .space-distributed-outside-items .space-evenly */

.space-distributed-outside-items .space-evenly .navbar {
    justify-content: space-evenly;
}

/* .space-distributed-outside-items .flex-end */

.space-distributed-outside-items .flex-end .navbar {
    justify-content: flex-end;
}

/* .space-distributed-outside-items .flex-start */

.space-distributed-outside-items .flex-start .navbar {
    justify-content: flex-start;
}

/* .space-distributed-outside-items .center */

.space-distributed-outside-items .center .navbar {
    justify-content: center;
}

/* .space-distributed-within-items */

.space-distributed-within-items .navbar {
    border: 2px solid black;
    padding: 2px;
    display: flex;
    gap: 6px;
}

.space-distributed-within-items .navbar > div {
    border: 1px solid grey;
    padding: 2px 12px;
}

/* .space-distributed-within-items .flex-auto */

.space-distributed-within-items .flex-auto .navbar > div {
    flex: auto;
}

/* .space-distributed-within-items .flex-1 */

.space-distributed-within-items .flex-1 .navbar > div {
    flex: 1;
}

/* .split-nav-using-margin */

.split-nav-using-margin .navbar {
    border: 2px solid black;
    padding: 2px;
    display: flex;
    gap: 6px;
}

.split-nav-using-margin .navbar > div {
    border: 1px solid grey;
    padding: 2px 12px;
}

/* .space-distributed-within-items .margin-right-auto */

.split-nav-using-margin .margin-right-auto {
    margin-right: auto;
}

/* .space-distributed-within-items .margin-left-auto */

.split-nav-using-margin .margin-left-auto {
    margin-left: auto;
}

/* .moving */

.moving .box-container {
    border: 2px solid black;
    padding: 2px;
    display: flex;
    flex-basis: 500px;
}

.moving .box-container .the-box {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: 2px solid lightseagreen;
}

/* .moving .center */

.moving .center .box-container {
    justify-content: center;
    align-items: center;
}

/* .moving .top-left */

.moving .top-left .box-container {
    justify-content: flex-start;
    align-items: flex-start;
}

/* .moving .top-center */

.moving .top-center .box-container {
    justify-content: center;
    align-items: flex-start;
}

/* .moving .top-right */

.moving .top-right .box-container {
    justify-content: flex-end;
    align-items: flex-start;
}

/* .moving .right-center */

.moving .right-center .box-container {
    justify-content: flex-end;
    align-items: center;
}

/* .moving .bottom-right */

.moving .bottom-right .box-container {
    justify-content: flex-end;
    align-items: flex-end;
}

/* .moving .bottom-center */

.moving .bottom-center .box-container {
    justify-content: center;
    align-items: flex-end;
}

/* .moving .bottom-left */

.moving .bottom-left .box-container {
    justify-content: flex-start;
    align-items: flex-end;
}

/* .moving .left-center */

.moving .left-center .box-container {
    justify-content: flex-start;
    align-items: center;
}

/* .moving .all-positions */

.moving .all-positions .center {
    justify-self: center;
    align-self: center;
}

.moving .all-positions .top-left {
    justify-self: flex-start;
    align-self: flex-start;
}

.moving .all-positions .top-center {
    justify-self: center;
    align-self: flex-start;
}

.moving .all-positions .top-right {
    justify-self: flex-end;
    align-self: flex-start;
}

.moving .all-positions .right-center {
    justify-self: flex-end;
    align-self: center;
}

.moving .all-positions .bottom-right {
    justify-self: flex-end;
    align-self: flex-end;
}

.moving .all-positions .bottom-center {
    justify-self: center;
    align-self: flex-end;
}

.moving .all-positions .bottom-left {
    justify-self: flex-start;
    align-self: flex-end;
}

.moving .all-positions .left-center {
    justify-self: flex-start;
    align-self: center;
}


/* .moving .all-positions-corrected */

.moving .all-positions-corrected .box-container {
    gap: 100px;
}

.moving .all-positions-corrected .box-container {
    flex-direction: column;
    justify-content: space-between;
}

.moving .all-positions-corrected .box-container div {
    display: flex;
    justify-content: space-between;
}

/* .card-layouts */

.card-layouts .demo {
    border: 2px solid black;
    padding: 2px;
    display: flex;
    gap: 6px;
}

.card-layouts footer {
    background-color: rgba(96, 139, 168, .2);
}

.card-layouts .row-cards {
    flex-direction: row;
}

.card-layouts .column-cards {
    flex-direction: column;
}

.card-layouts .demo .card {
    border: 2px solid lightslategray;
    flex: 1 1 0;
}

.card-layouts .card p, .card-layouts .card footer {
    padding: 6px;
}

.card-layouts .card p {
    flex: 1 1 auto;
}