* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.the-container {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}