* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
}

.sub-container {
    width: 400px;
    border: 1px solid red;
}

.header {
    text-align: center;
}

.header-item {
}

.header-item.buffer {
    height: 20px;
}

.index-divider-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.index-divider-container-item {
    flex: 1;
    text-align: left;
}

.index-divider-container-item-A {
    display: flex;
    justify-content: right;
    align-items: start;
}

.index-divider-container-item-spacer {
    width: 40px;
    flex: initial;
}

.flex-all-equal-item.title {
    color: red;
}

.sub-container-flex-demo {
    padding: 20px;
}

.flex-all-equal-item-container .flex-all-equal-item {
    border: 1px solid black;
}