* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #264653;
}

h1 {
    padding: 16px 0px;
    margin-bottom: 16px;
    border-bottom: 2px dotted #f4a261;
}

.header {
    padding: 20px;
    border-bottom: 3px solid #f4a261;
}

.all-demo-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.single-demo-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    border: 3px solid #2a9d8f;
}

h3 {
    padding: 8px 0px;
    margin-bottom: 8px;
    border-bottom: 2px dotted #2a9d8f;
}

/* for all actual demos */

.single-demo-container > .demo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* for all divs in a demo */

.single-demo-container > .demo > div {
    flex-basis: 20px;
    border: 1px solid #2a9d8f;
    display: flex;
    padding: 12px;
}

/* for the "Playing with Flex Shorthand Values" demo */

.flex-shorthand-distro > .demo > .first > div {
    display: flex;
    flex: 1;
    border: 1px dotted #2a9d8f;
    justify-content: center;
    align-items: center;
    padding: 12px;
}